#motto {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin: 2em;
    color: #4285F4;
}

.form-horizontal {
    background-color: white;
    padding: 2em;
    margin: 1.5em;
}

.dataTables_wrapper {
    background-color: white;
    padding: 2em;
}

/*Override of Content/less/grid.less*/
.container {
    margin: auto;
    width: 98%;
}

/*Override of Datatables*/
table.dataTable tbody td {
    padding: 2px 4px;
}


/*----------------------------------------------------------
The base color for this template is #4285F4. If you'd like
to use a different color start by replacing all instances of
#4285F4 with your new color.
----------------------------------------------------------*/
body {
    background-color: whitesmoke;
    font-size: 1.3em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: black;
}

a:link {
    color: black;
    /*text-decoration: underline;*/
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header, footer, nav, section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    color: black;
}

.jumbotron{ 
    color: black;
}

.jumbotron h1 {
    color:#4285F4;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: black;
    padding: 0;
}

    header h1, #header h1 {
        font-weight: bold;
        padding: 0px 0;
        margin: -20px 0px 0px 0px;
        color: black;
        border: none;
        line-height: 2em;
        font-size: 32px !important;
        text-shadow: 1px 1px 2px #111;
    }

#main {
    padding: 15px 15px 5px 15px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, #footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #4285F4 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 10px 0px 0px 0px;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

        ul#menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            color: #034af3;
            border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
        }

            ul#menu li a:hover {
                background-color: #fff;
                text-decoration: none;
            }

            ul#menu li a:active {
                background-color: #a6e2a6;
                text-decoration: none;
            }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
    width: 100%;
}

    table td {
        padding: 5px;
        border: solid 1px #e8eef4;
    }

    table th {
        padding: 6px 5px;
        text-align: left;
        border: solid 1px #e8eef4;
    }

    table td select {
        font-size: 0.9em;
        width: 100%;
    }

tr:nth-child(odd) {
    background-color: #e8eef4;
}

tr:nth-child(even) {
    background-color: #fff;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, #menucontainer {
    margin-top: 10px;
}

div#title {
    display: compact;
    float: none;
    position: absolute;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

    #logindisplay a:link {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:visited {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:hover {
        color: white;
        text-decoration: none;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label {
    margin: 1em 0 0 0;
}

.editor-group {
    float: left;
    margin-right: 10px;
}

.editor-group-clear {
    clear: both;
}

.editor-submit {
    padding: 0.5em 0 0 0;
}

.display-field, .editor-field {
    margin: 0.5em 0 0 0;
    width: 200px;
}

    .display-field input, .editor-field input, .display-field select, .editor-field select {
        width: 195px;
        height: 25px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

.text-box {
    width: 30em;
}

    .text-box.multi-line {
        height: 6.5em;
    }

.tri-state {
    width: 6em;
}

/* Individual Page Styles */
#divJobCalendarOptions table {
    border-style: none;
}

    #divJobCalendarOptions table tr {
        background-color: White;
    }

    #divJobCalendarOptions table td {
        border: 0px none;
    }

    #divJobCalendarOptions table td {
        border: 0px none;
    }

    #divJobCalendarOptions table #tdTask {
        width: 5%;
    }

    #divJobCalendarOptions table #tdTaskSelect {
        width: 25%;
    }

    #divJobCalendarOptions table #tdWorker {
        width: 40%;
    }

    #divJobCalendarOptions table td #workerSelect {
        width: 73%;
    }

    #divJobCalendarOptions table td #labelEnableWorker {
        width: 25%;
        text-decoration: underline;
    }

#divJobCalendarOptions #MoveStyle {
    width: 75px;
    margin-right: 5px;
}

#divAssignTasks {
    height: 200px;
    width: 100%;
    overflow: auto;
}

#tableAssignTasks {
    height: 100%;
    width: 100%;
}

.expander {
}

.rcpPanel {
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 10px;
}

    .rcpPanel:before {
        content: "- " attr(title);
        margin-top: -20px;
        display: block; /**** bootstrap button styles *****/
        cursor: pointer;
        padding: 1px 14px 0px 18px;
        font-size: 13px;
        line-height: normal;
        border: 1px solid #ccc;
        border-bottom-color: #bbb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        color: #333;
        background-color: #e6e6e6;
        background-repeat: no-repeat;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
        background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
        background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
        background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
        background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    }

.rcpPanelHidden:before {
    content: "+ " attr(title);
    padding: 2px 14px 1px; /***** button styles *****/
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.threeQuarters {
    float: left;
    width: 75%;
    height: 350px;
}
