﻿body {
    background-color:#5c87b2;
    padding-right:5em;
    padding-bottom:5em;
    font-family:"Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

#page {
    padding:0em 3em 2em 3em; /*top left bottom right*/
}

.heading {
    color:white;
    font-size:3em;
    margin-bottom:1em;
    text-shadow:2px 2px 4px #000000;
}

.content {
    font-size:1.25em;
    margin-bottom:3.5em;
}

.btn {
    margin-top:2em;
    padding:.5em;
    font-size:large;
    font-weight:600;
    background-color:white;
    border:.15em solid black;
}

input {
    font-size:.8em;
}

.data {
    background-color:white;
    max-width:20em;
}

.input {
    width:20em;
}
