﻿body {
    background-color:#5c87b2;
    font-family:"Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    width:125em;
}

table{
    border:3px solid black;
    margin-left:3em;
}

tr {
    font-size:1.25em;
    background-color:white;
    margin:.25em;
}

td, th {
    padding:.25em;
}

#headingDiv {
}

#heading {
    font-size:3em;
    color:white;
    text-shadow:2px 2px 4px #000000;
}

#tableHeading {
    text-decoration:underline;
}

.name {
    min-width:10em;
}

.company {
    min-width:13em;
}

.email {
    min-width:15em;
}

.cellP {
    min-width:9em;
}

.officeP {
    min-width:9em;
}

.address {
    min-width:20em;
}