﻿@model List<Website.Models.CalendarModel>
@{
    ViewBag.Title = "Calendar";
}
@section Styles {
    @*<link href="@Url.Content("~/Content/Offer.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/fullcalendar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalendar.print.css")" rel="stylesheet" type="text/css" media="print" />
}
@section Scripts{
    @*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PlaceHolder.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                editable: true,
                
                events: @Html.Raw(Json.Encode(Model)),

			    eventDrop: function(event, delta) {
    				alert(event.title + ' was moved ' + delta + ' days\n' +
					    '(should probably update your database)');
			    },
			
    			loading: function(bool) {
				    if (bool) $('#loading').show();
				    else $('#loading').hide();
			    }
            });

        });
    </script>
}
<h2>
    Calendar</h2>
<fieldset>
    <legend>CalendarModel</legend>
    <div id="calendar" style="width: 900">
    </div>
</fieldset>
