﻿@model Website.Models.BuilderSubContractorWorkloadModel
@{
    ViewBag.Title = "SubcontractorLoad";
}
@section Styles {
    <link href="@Url.Content("~/Content/Offer.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalendar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalendar.print.css")" rel="stylesheet" type="text/css" media="print" />

    <style>
        #subworkload .ui-selecting
        {
            color:#3a87ad;
            font-size:16px;
            margin-bottom:10px;
            margin-top:10px;
        }
        #subworkload .ui-selected
        {
            border-radius:5px;
            padding-left:3px;
            color:white;
            font-size:16px;
            margin-bottom:10px;
            margin-top:10px;
            background:#3a87ad;
        }
        #subworkload
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 90%;
        }
        #subworkload li
        {
            margin-top: 1.5px;
            margin-bottom: 1.5px;
            font-size: 14px;
        }
    </style>
}
@section Scripts{
    @*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PlaceHolder.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.21.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.widget.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.mouse.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.selectable.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var subcontractorLoads = null;
        var root = "@String.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/")).Trim('/')";
        var startPoint = null;
        var endPoint = null;

        function displayEvents(callback) {
            var selectedLoads = new Array();            
            $(".ui-selected").each(function () {
                for (var i=0; i<subcontractorLoads.SubcontractorWorkloads.length; i++)
                {
                    if (subcontractorLoads.SubcontractorWorkloads[i].SubcontractorID == $(this).attr('id'))
                    {
                        var currentLoads = $.extend(true, [], subcontractorLoads.SubcontractorWorkloads[i].Tasks);
                        selectedLoads = selectedLoads.concat(currentLoads);
                    }
                }
            });                
            callback(selectedLoads);
        }

        function loadSort(sortA, sortB) {
            return (sortB.TaskCount - sortA.TaskCount);
        }

        Array.prototype.remove = function(v) {
            return $.grep(this, function(e) {
                return e !== v;
            });
        };

        function renderSubList(start, end) {        
            if (subcontractorLoads != null)
            {
                var labelID = '';
                var liID = '';
                var lastliID = '';
                var loadArray = $.extend(true, [], subcontractorLoads.SubcontractorWorkloads);
                for (var i=0; i < loadArray.length; i++)
                {
                    var taskArray = new Array();
                    taskArray = $.extend(true, [], loadArray[i].Tasks);
                    for (var j=taskArray.length - 1; j >= 0; j--) {
                        var taskStart = taskArray[j].start;
                        var taskEnd = taskStart;
                        if (taskArray[j].end != null)
                        {
                            taskEnd = taskArray[j].end;
                        }
                        if (!(taskStart >= start && taskStart <=  end) &&
                            !(taskEnd >= start && taskEnd <=  end))
                        {
                            taskArray = taskArray.remove(taskArray[j]);
                        }
                    }
                    loadArray[i].Tasks = taskArray;
                    loadArray[i].TaskCount = taskArray.length;
                }
                loadArray.sort(loadSort);
                for (var i=0; i < loadArray.length; i++)
                {
                    labelID = '#label' + loadArray[i].SubcontractorID;
                    $(labelID).text(loadArray[i].SubcontractorName.substring(0, 16) + ' - ' + loadArray[i].TaskCount.toString());
                    liID = '#' + loadArray[i].SubcontractorID;
                    // Eventually the first one in the list will be moved to its proper location or it is already there.
                    if (i > 0) {
                      $(liID).insertAfter($(lastliID));
                    }
                    lastliID = liID;
                }
                //$('#divsubworkload').html(subHTML);                
                //$("#subworkload").selectable('refresh');
            }
        }

        function getEvents(start, end, callback) {
            var startDate = moment(start, 'DD.MM.YYYY').format('YYYY-MM-DD');
            var endDate = moment(end, 'DD.MM.YYYY').format('YYYY-MM-DD');
            if ((startPoint == null) || (startDate < startPoint) || (endDate > endPoint))
            {
                var postURL = root + '/Calendar/Subload?start=' + startDate + '&end=' + endDate;
                $.ajax({
                    url: postURL,
                    success: function (data) { subcontractorLoads = data; renderSubList(startDate, endDate); displayEvents(callback); },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { alert(errorThrown); },
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json, charset=utf-8',
                    dataType: 'json'
                });
                startPoint = startDate;
                endPoint = endDate;
            } else {
                displayEvents(callback);
            }
        }

        function renderCalendar() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                aspectRatio: 3.0,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                editable: true,
                weekends: false,
                eventRender: function (event, element) {
                    element.attr('title', event.title);
                },

                events: function (start, end, timezone, callback) {
                    getEvents(start, end, callback);
                },

                viewDisplay: function(view) { renderSubList(moment(view.visStart, 'DD.MM.YYYY').format('YYYY-MM-DD'), $.fullCalendar.formatDate(view.visEnd, 'yyyy-MM-dd')); } 
            });
        }

        $(document).ready(function () {
            renderCalendar();            
            $("#subworkload").selectable({ selected: function (event, ui) { $('#calendar').fullCalendar('refetchEvents'); } });
        });

    </script>
}
<div style="height: 750px">        
    <div id="divsubworkload" class="print-no" style="float: left; width: 20%; height: 100%; overflow: auto;
        margin-right: 5px;">        
        <ul id="subworkload">
            @foreach (var workload in Model.SubcontractorWorkloads)
            {
                string labelid = "label" + Html.Raw(workload.SubcontractorID);
                <li class="ui-widget-content" id="@Html.Raw(workload.SubcontractorID)">
                    <label id="@labelid">@Html.Raw(workload.SubcontractorName.Substring(0, (16 > workload.SubcontractorName.Length) ? workload.SubcontractorName.Length : 16))</label>
                    <input type="hidden" name="subcontractorid" value="@Html.Raw(workload.SubcontractorID)" />
                </li>         
            }
        </ul>
    </div>
    <div class="threeQuarters print-fullPage">
        <div id="calendar">
        </div>
    </div>
</div>
