﻿@{
    ViewBag.Title = "Create";
}

@section styles{
   <link rel="stylesheet" type="text/css" href="~/Content/subcreatemock.css" />
}

<div id="page">
    <div id="container1">
        <div class="headingDiv">
            <h1 class="heading">Sub Create</h1>
        </div>
        <div id="content">
            <p>Name:</p>
            <input id="name" /><br /><br />
            <p>Email:</p>
            <input id="email" /><br /><br />
            <p>Company:</p>
            <input id="company" /><br /><br />
            <p>Office Phone Number:</p>
            <input id="officePhone" /><br /><br />
            <p>Cell Phone Number:</p>
            <input id="cellPhone" /><br /><br />
            <p>Office Address:</p>
            <input id="officeAdd" />
        </div>

        <div class="btnDiv">
            <button class="btn" onclick="enter('name', 'nameData'); enter('email', 'emailData'); enter('company', 'companyData'); enter('officePhone', 'officePhoneData'); enter('cellPhone', 'cellPhoneData'); enter('officeAdd', 'officeAddData')">Enter</button>
        </div>
    </div>

    <div id="container2">
        <div class="headingDiv">
            <h1 class="heading">Sub Create Confirm</h1>
        </div>

        <div class="btnDiv">
            <button class="btn" onclick="submit()">Submit</button>&emsp;<button class="btn" onclick="changes()">Make Changes</button>
        </div>

        <div id="conData">
            <p>Name:</p> <p class="data" id="nameData"></p><br /><br />
            <p>Email:</p> <p class="data" id="emailData"></p><br /><br />
            <p>Company:</p> <p class="data" id="companyData"></p><br /><br />
            <p>Office Phone Number:</p> <p class="data" id="officePhoneData"></p><br /><br />
            <p>Cell Phone Number:</p> <p class="data" id="cellPhoneData"></p><br /><br />
            <p>Office Address:</p> <p class="data" id="officeAddData"></p>
        </div>

        <button class="btn" onclick="submit()">Submit</button>&emsp;<button class="btn" onclick="changes()">Make Changes</button>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/sub.create.mock.js"></script>
}
