﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/subeditmock.css" />
}

<div id="page">

    <div id="container1">
        <div class="headingDiv">
            <h1 class="heading">Sub Edit</h1>
        </div>

        <div class="content">
            <p>Name:</p>
            <input class="input" value="Ryan Chew" id="name" /><br /><br />
            <p>Company:</p>
            <input class="input" value="ASB" id="company" /><br /><br />
            <p>Email:</p>
            <input class="input" value="ryanmchew@gmail.com" id="email" /><br /><br />
            <p>Office Phone Number:</p>
            <input class="input" value="812-923-9114" id="offNum" /><br /><br />
            <p>Cell Phone Number:</p>
            <input class="input" value="812-406-5635" id="cellNum" /><br /><br />
            <p>Office Address:</p>
            <input class="input" value="8115 Chapel Hill Rd Borden, IN 47106" id="offAdd" /><br />
        </div>

        <div id="enterDiv">
            <button class="btn" onclick="link('name', 'nameData'); link('company', 'companyData'); link('email', 'emailData'); link('offNum', 'offNumData'); link('cellNum', 'cellNumData'); link('offAdd', 'offAddData');">Enter</button>
        </div>
    </div>



    <div id="container2">
        <div class="headingDiv">
            <h1 class="heading">Sub Edit Confirmation</h1>
        </div>
        <div class="content">
            <p>Name:</p>
            <p class="data" value="Ryan Chew" id="nameData"></p><br />
            <p>Company:</p>
            <p class="data" value="ASB" id="companyData"></p><br />
            <p>Email:</p>
            <p class="data" value="ryanmchew@gmail.com" id="emailData"></p><br />
            <p>Office Phone Number:</p>
            <p class="data" value="812-923-9114" id="offNumData"></p><br />
            <p>Cell Phone Number:</p>
            <p class="data" value="812-406-5635" id="cellNumData"></p><br />
            <p>Office Address:</p>
            <p class="data" value="8115 Chapel Hill Rd Borden, IN 47106" id="offAddData"></p>
        </div>

        <div>
            <button class="btn" onclick="submit()">Submit</button>&emsp;<button class="btn" onclick="changes()">Make Changes</button>
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/sub.edit.mock.js"></script>
}
