﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/sublistmock.css" />
}

<div id="page">
    <div id="headingDiv">
        <h2 id="heading">Sub List</h2>
    </div>
    <div id="content">
        <table>
            <tr id="tableHeading">
                <th class="name">Name</th>
                <th class="company">Company</th>
                <th class="email">Email</th>
                <th class="cellP">Cell Phone</th>
                <th class="officeP">Office Phone</th>
                <th class="address">Address</th>
            </tr>
            <tr>
                <td class="name">Ryan Chew</td>
                <td class="company">Highland Lawn Water</td>
                <td class="email">ryanmchew@gmail.com</td>
                <td class="cellP">812-406-5635</td>
                <td class="officeP">812-923-9114</td>
                <td class="address">7534 Rodeo Dr Greenville, Wisconson</td>
            </tr>
            <tr>
                <td class="name">Michael Chew</td>
                <td class="company">Chew's Chinese Takeout</td>
                <td class="email">doggiedinner@yahoo.com</td>
                <td class="cellP">765-459-2158</td>
                <td class="officeP">546-354-9114</td>
                <td class="address">412 Hiroshima Bld</td>
            </tr>
            <tr>
                <td class="name">Mark Schuler</td>
                <td class="company">ASB</td>
                <td class="email">mark@theonline.com</td>
                <td class="cellP">471-495-5635</td>
                <td class="officeP">147-652-9114</td>
                <td class="address">123 Mcdonald Ln</td>
            </tr>
            <tr>
                <td class="name">David Schuler</td>
                <td class="company">ASB</td>
                <td class="email">david@yahoo.com</td>
                <td class="cellP">789-321-5635</td>
                <td class="OfficeP">147-652-9114</td>
                <td class="address">4545 Navilleton Rd</td>
            </tr>
        </table>

    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/sub.list.mock.js"></script>
}


