﻿@model IEnumerable<Website.Models.EmployeeListItemModel>

@{
    ViewBag.Title = "List";
}

@section styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
    <style>
        .link-mine {
            color: white;
        }
    </style>
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="link-mine"})
</p>
<table class="table dataTable table-striped" id="tableEmployee" name="tableEmployee">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Retire", "Retire", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"> </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableEmployee').dataTable();
        });
    </script>
}
