﻿@model BuildOnTime.Presentation.DailyTaskList
@{
    ViewBag.Title = "Home";
}
@section Styles{
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var selectValues = @Html.Raw(ViewBag.WorkerList);
        function postData(url, data, successFunction, errorFunction) {
            $.ajax({
                url: url,
                data: JSON.stringify(data),
                success: successFunction,
                error: errorFunction,
                type: 'POST',
                cache: false,
                contentType: 'application/json, charset=utf-8',
                dataType: 'json'
            });
        }

        function populateSelect() {
            $.each(selectValues, function (key, item) {
                $('.SelectWorker')
                .append($("<option></option>")
                .attr("value", item.Value)
                .text(item.Text));
            });
        }

        $(document).ready(function () {
            populateSelect();
            $('table').DataTable();
        });

        function refreshPage() {
            location.reload();
        }

        function assignWorkers() {
            var taskWorkerList = new Array();
            $('.SelectWorker option:selected').each(function () {
                if (($(this).val() != null) && ($(this).val().toString().length > 0)) {
                    taskWorkerList.push({ TaskID: $(this).parent().attr('name'), WorkerID: $(this).val() });
                }
            });
            if (taskWorkerList.length > 0) {
                postData('@Url.Content("~/Super/AssignWorkersTasks")', taskWorkerList, refreshPage);
            }
        }

        function sendEmails() {
            var emailList = new Array();
            $('input:checked[class=CheckBoxEmail]').each(function () {
                if (($(this).val() != null) && ($(this).val().toString().length > 0)) {
                    emailList.push({ TaskID: $(this).attr('name'), WorkerID: $(this).parent().children('.WorkerID').attr('name'), Reason: $(this).parent().children('.Reason').attr('name') });
                }
            });
            if (emailList.length > 0) {
                postData('@Url.Content("~/Super/EmailTasks")', emailList, refreshPage);
            }
        }

        function sendAllEmails() {
            var emailList = new Array();
            $('.CheckBoxEmail').each(function () {
                if (($(this).val() != null) && ($(this).val().toString().length > 0)) {
                    emailList.push({ TaskID: $(this).attr('name'), WorkerID: $(this).parent().children('.WorkerID').attr('name'), Reason: $(this).parent().children('.Reason').attr('name') });
                }
            });
            if (emailList.length > 0) {
                postData('@Url.Content("~/Super/EmailTasks")', emailList, refreshPage);
            }
        }

        function calledWorkers() {
            var calledList = new Array();
            $('input:checked[class=CheckBoxCall]').each(function () {
                if (($(this).val() != null) && ($(this).val().toString().length > 0)) {
                    calledList.push({ TaskID: $(this).attr('name'), WorkerID: $(this).parent().children('.WorkerID').attr('name'), Reason: $(this).parent().children('.Reason').attr('name') });
                }
            });
            if (calledList.length > 0) {
                postData('@Url.Content("~/Super/CalledWorkersTasks")', calledList, refreshPage);
            }
        }

        function reviewedTasks() {
            var reviewedList = new Array();
            $('input:checked[class=CheckBoxReviewed]').each(function () {
                if (($(this).val() != null) && ($(this).val().toString().length > 0)) {
                    reviewedList.push($(this).attr('name'));
                }
            });
            if (reviewedList.length > 0) {
                postData('@Url.Content("~/Super/ReviewedTasks")', reviewedList, refreshPage);
            }
        }
    </script>
}
<h2>
    Tasks in process and starting soon
</h2>
@{Html.RenderPartial("TasksInProcess", Model.InProcess);}
<h2>
    <label>
        Tasks to assign
    </label><input type="button" name="buttonAssign" value="Assign" onclick="assignWorkers();" />
</h2>
@{Html.RenderPartial("TaskAssign", Model.Assignments);}
<h2>
    Tasks not accepted
</h2>
@{Html.RenderPartial("TaskNotAccepted", Model.NotAccepted);}
<h2>
    <label>
        Phone calls to make
    </label><input type="button" name="buttonCalled" value="Called"
                   onclick="calledWorkers();" />
</h2>
@{Html.RenderPartial("PhoneCallsToMake", Model.PhoneCalls);}
<h2>
    <label>
        E-Mails to send
    </label><input type="button" name="buttonEMail" value="EMail" onclick="sendEmails();" /><input type="button" name="buttonEMailAll" value="EMail All" onclick="sendAllEmails();" />
</h2>
@{Html.RenderPartial("EMailsToSend", Model.EMails);}
<h2>
    <label>
        Tasks to review
    </label><input type="button" name="buttonReviewed" value="Reviewed"
                   onclick="reviewedTasks();" />
</h2>
@{Html.RenderPartial("TasksCompleted", Model.Reviews);}
