﻿@model Website.Models.JobWorkerModel
@{
    ViewBag.Title = "JobCalendar";
}
@section Styles {
    <link href="@Url.Content("~/Content/Offer.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalendar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalendar.print.css")" rel="stylesheet" type="text/css" media="print" />
}
@section Scripts{
    <script type="text/javascript">        
        var root = "@String.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/")).Trim('/')";
        var workers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Workers));
        var jobs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Jobs));
        var jobID = @Request["jobID"];     
        $(document).ready(function() { 
            // Setup touch dragging for external events
            $('#buttonUnassigned').click( function(){ $.blockUI({ message: $('#divAssignTasks') }); }) 
            $('#buttonYes').click(function() { 
                // update the block message 
                $.blockUI({ message: "<h1>Saving updates...</h1>" }); 
                var workerTasks = [];
                $('.workerSelect').each(function(index) { if (($(this).val() != null) && ($(this).val().length > 0)) 
                {
                    workerTasks.push({ TaskID: $(this).attr('id'), WorkerID: $(this).val() });
                }
                });
                if (workerTasks.length > 0)
                {
                    var tasksWorkers = { tasksWorkers: workerTasks };
                    postData(root + '/Super/AssignWorkersTasks', tasksWorkers, refreshCalendar);                    
                }
                $.unblockUI(); 
                
                //                $.ajax({ 
                //                    //url: 'wait.php', 
                //                    cache: false, 
                //                    complete: function() { 
                //                        // unblock when remote call returns 
                //                        $.unblockUI(); 
                //                    } 
                //                }); 
            }); 
 
            $('#buttonNo').click(function() { 
                $.unblockUI(); 
                return false; 
            })
            $('#buttonChangeJob').click( function(){ $.blockUI({ message: $('#divChangeJob') }); }) 
            $('#jobSelectOK').click( function(){ changeJob(); }) 
            $('#jobSelectCancel').click( function(){ $.unblockUI(); return false; }) 
            $('#buttonUpdateWorker').click( function(){ $.blockUI({ message: $('#divChangeWorker') }); }) 
            $('#changeWorkerOK').click( function(){ changeWorker(); $.unblockUI(); return true; }) 
            $('#changeWorkerCancel').click( function(){ $.unblockUI(); return false; }) 
        });
    </script>
    @*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PlaceHolder.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.21.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.touch.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment-business.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JobCalendar.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>*@
}
<div id="divJobCalendarOptions" class="print-no">
    <table width="100%">
        <tr>

            @*            <td id="tdJob" style="width: 1%">
                Job:
            </td>
            <td id="tdJobSelect" style="width: 20%">
                <select name="jobSelect" id="jobSelect">
                </select>
            </td>*@
            <td style="width: 10%">
                <input type="button" id="buttonChangeJob" name="buttonChangeJob" value="Select job" />
            </td>
            <td id="tdTask">Task:
            </td>
            <td id="tdTaskSelect">
                <select name="taskSelect" id="taskSelect">
                </select>
            </td>
            <td>
                <input type="button" disabled="disabled" id="buttonUpdateWorker" name="buttonUpdateWorker" value="Update worker" />
            </td>
            <td>
                <div id="divUnassigned" class="expander">
                    <button id="buttonUnassigned">
                        Unassigned tasks</button>
                </div>
            </td>
            <td>
                <label>@Html.CheckBox("ShowWeekends", false, new { id = "buttonShowWeekends" })Weekends</label>
            </td>
            @*            <td id="tdWorker" colspan="2">
                <select name="selectWorker" id="selectWorker" class="selectWorker" style="width: 50%">
                </select>
                <label onclick="enableSelectWorker();" id="labelEnableWorker">
                    Change</label>
                <input type="button" name="buttonUpdateWorker" value="Update worker" onclick="postWorkerUpdate();" />
            </td>*@
        </tr>
        <tr>
            <td colspan="6">
                <div>
                    <label>
                        Reschedule:
                    </label>
                    <select id="MoveStyle">
                        <option title="Dependents move number of days allowed by cushion between tasks."
                            value="Float">Float</option>
                        <option title="Dependents move same number of business days as parent." value="Locked">Locked</option>
                        <option title="Moves a single task." value="Single">Single</option>
                        <option title="Moves all tasks that start on the same day or after." value="All">All</option>
                    </select>
                    <input type="button" name="buttonSubmit" value="Submit" onclick="postCalendarUpdates();" />
                    <input type="button" name="buttonSubmit" value="Cancel" onclick="cancelUpdates();" />
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="divChangeJob" style="display: none; cursor: default" class="print-no">
    <h2>Select the new job to view.</h2>
    <div style="padding-bottom: 15px">
        <label>Job:</label>
        <select name="jobSelect" id="jobSelect">
        </select>
        <input type="button" id="jobSelectOK" value="OK" />
        <input type="button" id="jobSelectCancel" value="Cancel" />
    </div>
</div>
<div id="divAssignTasks" style="display: none; cursor: default; overflow: hidden; padding-bottom: 15px">
    <div style="overflow: auto; height: 80%">
        <table title="tableAssignTasks" id="tableAssignTasks">
        </table>
    </div>
    <div style="height: 20%; margin-top: 10px">
        <input type="button" id="buttonYes" value="Save" />
        <input type="button" id="buttonNo" value="Cancel" />
    </div>
</div>
<div id="divChangeWorker" style="display: none; cursor: default; overflow: hidden; padding-bottom: 15px">
    <h2 id="labelNewWorkerTask">Not set</h2>    
    <h3 id="labelSelectNewWorker">Select the new worker.</h3>    
    <div style="margin-bottom: 15px">
        <select name="selectWorker" id="selectWorker" class="selectWorker" style="width: 50%">
        </select>
    </div>
    <div>
        <input type="button" id="changeWorkerOK" value="Save" />
        <input type="button" id="changeWorkerCancel" value="Cancel" />
    </div>
</div>
<div>
    @{Html.RenderPartial("CalendarPartial", new List<Website.Models.CalendarModel>());}
</div>
<div class="print-no">
    @Html.ActionLink("Back to List", "Index", new { @class = "print-no" })
</div>
