﻿@model IEnumerable<Website.Models.JobModel>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="TableJobList" class="dataTable table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Super
            </th>
            <th>
                Description
            </th>
            <th>
                Permit
            </th>
            <th>
                Start
            </th>
            <th>
                Finish
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuperName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permit)
                </td>
                <td>
                    @(@item.start.HasValue ? @item.start.Value.ToString("MM/dd/yyyy") : "")
                </td>
                <td>
                    @(@item.finish.HasValue ? @item.finish.Value.ToString("MM/dd/yyyy") : "")
                </td>
                <td>
                    @Html.ActionLink("Calendar", "JobCalendar", new { jobID = item.Identifier })
                </td>
            </tr>
        }
    </tbody>
</table>
