﻿@model Website.Models.HomeModel
@{
    ViewBag.Title = "Jobs";
}
@section Styles{
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('table').DataTable();
        });
    </script>
}
<h2>Jobs</h2>

@{Html.RenderPartial("JobListPartial", Model.Jobs);}