﻿@model IEnumerable<BuildOnTime.Presentation.TaskCommunicationAction>
<table id="TablePhoneCallsToMake" class="dataTable table-striped">
    <thead>
        <tr>
            <th>
                Called
            </th>
            <th>
                Action
            </th>
            <th>
                Job
            </th>
            <th>
                Task
            </th>
            <th>
                Worker
            </th>
            <th>
                Contact
            </th>
            <th>
                Alternate
            </th>
            <th>
                Alternate
            </th>
            <th>
                Start
            </th>
            <th>
                Finish
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" class="CheckBoxCall" name="@item.JobTaskID" />
                    <input type="hidden" class="WorkerID" name="@item.WorkerID" />
                    <input type="hidden" class="Reason" name="@item.Reason" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.ActionLink(item.JobName, "JobCalendar", "Super", new { jobID = item.JobID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel3)
                </td>
                <td>
                    @item.Start.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @item.Finish.ToString("MM/dd/yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>
