﻿@model IEnumerable<BuildOnTime.Presentation.TaskAction>
<table id="TableTaskNotAccepted" class="dataTable table-striped">
    <thead>
        <tr>
            <th>
                Job
            </th>
            <th>
                Task
            </th>
            <th>
                Worker
            </th>
            <th>
                Start
            </th>
            <th>
                Finish
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.JobName, "JobCalendar", "Super", new { jobID = item.JobID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerName)
                </td>
                <td>
                    @item.Start.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @item.Finish.ToString("MM/dd/yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>
