﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Buildontime.com</h1>
    <p class="lead">Buildontime.com is technology to provide solutions and increase efficiency for the residential construction industry.</p>
</div>

<div id="motto">
    "Simply designed with the builder in mind!"
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Design</h2>
        <p>
            Buildontime.com also known as BOT can directly increase the amount of houses you build by 40% as it has done for multiple other home builders.
            With a simple straight forward approach, and looking to achieve a single goal of time effiency BOT has done just that.
            Our easily operated technology is painless and quick to learn yet is effective and powerful.  
            Our practical approach is the perfect balance between simpicity and funcionality.
            Engineered by a team of builders just like you and the best computer programmers in the industry; it is the ultimate medium sized home builder software.  
            It was simply designed with the builder in mind.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>