﻿@model Website.Models.JobModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Job</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Job edit</legend>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.SuperID)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SuperID, new SelectList(ViewBag.supers, "Identifier", "Name").OrderBy(sp => sp.Text))
                @Html.ValidationMessageFor(model => model.SuperID)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Permit)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Permit)
                @Html.ValidationMessageFor(model => model.Permit)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.LotIdentifier)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LotIdentifier)
                @Html.ValidationMessageFor(model => model.LotIdentifier)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address1)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address1)
                @Html.ValidationMessageFor(model => model.Address1)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.State)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.PostalCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PostalCode)
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.start)
            </div>
            <div class="editor-field">
                @Html.ActionLink(Model.start.Value.ToString("MM/dd/yyyy"), "JobCalendar", "Super", new { jobID = Model.Identifier }, null)
            </div>
        </div>
        <div class="editor-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.finish)
            </div>
            <div class="editor-field">
                @Html.ActionLink((Model.finish.HasValue ? Model.finish.Value.ToString("MM/dd/yyyy") : ""), "JobCalendar", "Super", new { jobID = Model.Identifier }, null)
            </div>
        </div>
        <div class="editor-group-clear">
            @Html.HiddenFor(model => model.BuilderID)
            @Html.HiddenFor(model => model.Identifier)
            @Html.HiddenFor(model => model.SuperID)
            @Html.HiddenFor(model => model.SuperName)
            @Html.HiddenFor(model => model.ScheduleID)
        </div>
        <div class="editor-submit">
            <p>
                <input type="submit" value="Save" />
            </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
