﻿@model IEnumerable<Website.Models.JobModel>
@section Styles{
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
    <style>
        table tr td {
            padding-right: 8px;
        }
    </style>
}  
@section Scripts{
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var root = "@String.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/")).Trim('/')";
        $(document).ready(function () {
            $('table').DataTable();
            $('.deleteJob').click(function () { $('#deleteJobText').text('Are you sure you want to delete ' + $(this).attr('name') + '?'); $('#deleteLink').val($(this).attr('href')); $.blockUI({ message: $('#divConfirmDelete') }); return false; });
            $('#buttonYes').click(function () { window.location = $('#deleteLink').val(); $.unblockUI(); return true; });
            $('#buttonNo').click(function () { $.unblockUI(); return false; });
        });
    </script>
    @*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>*@
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="TableJobList" class="table dataTable table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Super
            </th>
            <th>
                Description
            </th>
            <th>
                Permit
            </th>
            <th>
                Start
            </th>
            <th>
                Finish
            </th>
            <th/>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuperName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permit)
                </td>
                <td>
                    @(@item.start.HasValue ? @item.start.Value.ToString("MM/dd/yyyy") : "")
                </td>
                <td>
                    @(@item.finish.HasValue ? @item.finish.Value.ToString("MM/dd/yyyy") : "")
                </td>
                <td>
                    @Html.ActionLink("Calendar", "JobCalendar", "Super", new { jobID = item.Identifier }, null) | 
                    @Html.ActionLink("Edit", "Edit", new { id = item.Identifier }) | 
                    @Html.ActionLink("Delete", "Delete", "Job", new { id = item.Identifier }, new { @class = "deleteJob", @name = item.Name } )
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="divConfirmDelete" style="display: none; cursor: default; overflow: hidden; padding-bottom: 15px">
    <div><h2 id="deleteJobText"></h2></div>
    <div style="height: 20%; margin-top: 10px">
        <input type="hidden" id="deleteLink" />
        <input type="button" id="buttonYes" value="Yes" />
        <input type="button" id="buttonNo" value="No" />
    </div>
</div>

